#grid {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(12, 100px);
}

#title {
	grid-row: 1/3;
	grid-column: 6/16;
	align-self: flex-start;
	justify-self: center;
	font-family: 'Cinzel';
	font-size: 90px;
	font-weight: 100;
	color: #e6e6e6;
}

.blue {
	color: #3b7fed;
}

#slogan {
	margin-bottom: 15px;
	grid-row: 1/3;
	grid-column: 9/13;
	align-self: flex-end;
	justify-self: center;
	color: #9e9e9e;
	font-family: 'Nova Round';
	font-size: 25px;
}

#gray-background-one {
	grid-row: 1/5;
	grid-column: 1/-1;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	background-color: #05212d;
	z-index: -10;
}

#gray-background-two {
	grid-row: 1/-1;
	grid-column: 1/10;
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	background-color: #082341;
	z-index: -20;
}

#gray-background-three {
	grid-row: 3/12;
	grid-column: 6/17;
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	background-color: #3F6986;
	z-index: -30;
}

#homebar {
	grid-row: 3/4; 
	grid-column: 1/-1;
	visibility: visible;
	margin-top: 5px;
	align-self: flex-start;
	justify-content: center;
	justify-self: center;
	height: 50px;
	width: 97vw;
	background-color: #222222;
	color: white;
	box-shadow: 2px 2px 1px 1px #303030;
	border-radius: 7px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	justify-items: center;
	font-family: 'Nova Round';
	font-size: 25px;
	align-items: center;
	align-content: center;
}

#homebar1 {
	visibility: hidden;
}

a:link {
	text-decoration: none;
	color: blue;
}

.dropbtn {
    color: white;
    font-size: 25px;
    border: none;
    background-color: #222222;
    text-decoration: none;
    font-family: 'Nova Round';
    padding-left: auto;
    padding-right: auto;
    width: 250px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
	justify-self: center;
	justify-items: center;
    background-color: #222222;
    font-size: 18px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown-content a:hover {
	padding: 12px 16px;
	background-color: blue;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown:hover .dropdown-content {
	display: block;
	padding: 12px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}

.dropbtn4 {
    color: white;
    font-size: 18px;
    border: none;
    background-color: #222222;
    text-decoration: none;
    font-family: 'Nova Round';
    padding-left: auto;
    padding-right: auto;
    width: auto;
}

.dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    justify-content: flex-start;
	justify-self: flex-start;
	justify-items: flex-start;
    background-color: #222222;
    font-size: 18px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content4 a {
	padding: 12px 16px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
	
}



.dropdown-content4 a:hover {
	padding: 12px 16px;
	background-color: blue;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown4:hover .dropdown-content4 {
	display: block;
	padding: 12px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}

.end-dropdown a {
	padding: 12px 16px;
	background-color: #222222;
	color: white;
	display: flex;
	font-size: 18px;
	padding-right: 110px;
	justify-content: flex-start;
}

.end-dropdown {
    display: none;
    position: absolute;
    background-color: #222222;
    font-size: 18px;
    right: 0;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.end-dropdown a {
	padding: 12px 16px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
	position: relative;
}



.end-dropdown a:hover {
	padding: 12px 16px;
	background-color: blue;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown4:hover .end-dropdown {
	display: block;
	padding: 12px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}


#testingfonts {
	grid-row: 4/13;
	grid-column: 2/20;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: white;
	color: black;
	text-align: center;
	box-shadow: 1.5px 2px 2px 1.5px gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Poppins';
}

#javascript {
	grid-row: 4/13;
	grid-column: 2/20;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: white;
	color: black;
	text-align: center;
	box-shadow: 1.5px 2px 2px 1.5px gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Poppins';
}



#html {
	grid-row: 4/13;
	grid-column: 2/20;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: white;
	color: black;
	text-align: center;
	box-shadow: 1.5px 2px 2px 1.5px gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Poppins';
}

#columns {
	columns: 2;
}



#happy {
	columns: 2;
}



#fonthelp {
	grid-row: 4/13;
	grid-column: 2/20;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: white;
	color: black;
	text-align: center;
	box-shadow: 1.5px 2px 2px 1.5px gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Poppins';
}

.scss {
	grid-row: 4/13;
	grid-column: 2/20;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: white;
	color: black;
	text-align: center;
	box-shadow: 1.5px 2px 2px 1.5px gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Poppins';
	width: 100%;
}

.header {
	font-size: 25px;
}

#light-gray {
	background-color: #e6e6e6;
	padding: 2px;
	border-radius: 7px;
}

#tell {
	text-decoration: underline;
}

.font1 {
	font-family: 'Roboto';
}

.font2 {
	font-family: 'Open Sans';
}

.font3 {
	font-family: 'Muli';
}

.font4 {
	font-family: 'Quicksand';
}

.font5 {
	font-family: 'Karla';
}

.font6 {
	font-family: 'Nunito Sans';
}

.font7 {
	font-family: 'Cairo';
}

.font8 {
	font-family: 'PT Sans Caption';
}

.font9 {
	font-family: 'Poiret One';
}

.font10 {
	font-family: 'Quattrocento Sans';
}

.font11 {
	font-family: 'Jura';
}

.font12 {
	font-family: 'Nova Round';
}

a:visited {
	outline: none;
	border: none;
}

a:active {
	outline: none;
	border: none;
}

a:visited:focus {
	outline: none;
	border: none;
}

a:active:focus {
	outline: none;
	border: none;
}

a:focus {
	outline: none;
}

@media only screen and (max-width: 600px) {
	#title {
		grid-row: 1/3;
		grid-column: 1/-1;
		align-self: flex-start;
		margin-left: 5px;
		justify-self: center;
		font-family: 'Cinzel';
		font-size: 45px;
		font-weight: 100;
		color: #e6e6e6;
	}

	#slogan {
		grid-row: 1/3;
		grid-column: 1/-1;
		align-self: center;
		justify-self: flex-end;
		color: #9e9e9e;
		font-family: 'Nova Round';
		font-size: 20px;
		margin-bottom: 10px;
	}

	#homebar {
		visibility: hidden;
	}

	#homebar1 {
		grid-row: 2/3; 
		grid-column: 1/-1;
		visibility: visible;
		margin-top: 5px;
		align-self: center;
		justify-content: center;
		justify-self: center;
		height: 50px;
		width: 97vw;
		background-color: #222222;
		color: white;
		box-shadow: 2px 2px 1px 1px #303030;
		border-radius: 7px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		justify-items: center;
		font-family: 'Nova Round';
		font-size: 18px;
		align-items: center;
		align-content: center;
	}

	#javascript {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 5px;
		font-size: 17px;
		font-family: 'Poppins';
	}

	#fonthelp {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 3px;
		font-size: 20px;
		font-family: 'Poppins';
		width: 100%;
	}

	#html {
		grid-row: 3/16;
		width: 100%;
	}

	#happy {
		columns: 1;
		font-size: 16px;
	}

	.scss {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 3px;
		font-size: 20px;
		font-family: 'Poppins';
		width: 100%;
	}

	#testingfonts {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 5px;
		font-size: 15px;
		font-family: 'Poppins';
	}

	#grid {
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(15, 100px);
	}
}

@media only screen and (min-width: 600px)and (max-width: 992px) {
	#title {
		grid-row: 1/3;
		grid-column: 1/-1;
		align-self: flex-start;
		margin-left: 5px;
		justify-self: center;
		font-family: 'Cinzel';
		font-size: 45px;
		font-weight: 100;
		color: #e6e6e6;
	}

	#slogan {
		grid-row: 1/3;
		grid-column: 1/-1;
		align-self: center;
		justify-self: center;
		color: #9e9e9e;
		font-family: 'Nova Round';
		font-size: 20px;
		margin-bottom: 10px;
	}

	#homebar {
		visibility: hidden;
	}

	#homebar1 {
		grid-row: 2/3; 
		grid-column: 1/-1;
		visibility: visible;
		margin-top: 5px;
		align-self: center;
		justify-content: center;
		justify-self: center;
		height: 50px;
		width: 97vw;
		background-color: #222222;
		color: white;
		box-shadow: 2px 2px 1px 1px #303030;
		border-radius: 7px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		justify-items: center;
		font-family: 'Nova Round';
		font-size: 18px;
		align-items: center;
		align-content: center;
	}

	#javascript {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 5px;
		font-size: 17px;
		font-family: 'Poppins';
	}

	#fonthelp {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 3px;
		font-size: 20px;
		font-family: 'Poppins';
	}

	.scss {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 3px;
		font-size: 20px;
		font-family: 'Poppins';
		width: 100%;
	}

	#testingfonts {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 5px;
		font-size: 15px;
		font-family: 'Poppins';
	}

	#grid {
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(15, 100px);
	}
}
/*phone screen*/
@media only screen and (max-device-width: 600px) {
	#title {
		grid-row: 1/3;
		grid-column: 1/-1;
		align-self: flex-start;
		margin-left: 5px;
		justify-self: center;
		font-family: 'Cinzel';
		font-size: 45px;
		font-weight: 100;
		color: #e6e6e6;
	}

	#slogan {
		grid-row: 1/3;
		grid-column: 1/-1;
		align-self: center;
		justify-self: flex-end;
		color: #9e9e9e;
		font-family: 'Nova Round';
		font-size: 20px;
		margin-bottom: 10px;
	}

	#homebar {
		visibility: hidden;
	}

	#homebar1 {
		grid-row: 2/3; 
		grid-column: 1/-1;
		visibility: visible;
		margin-top: 5px;
		align-self: center;
		justify-content: center;
		justify-self: center;
		height: 50px;
		width: 97vw;
		background-color: #222222;
		color: white;
		box-shadow: 2px 2px 1px 1px #303030;
		border-radius: 7px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		justify-items: center;
		font-family: 'Nova Round';
		font-size: 18px;
		align-items: center;
		align-content: center;
	}

	#javascript {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 5px;
		font-size: 17px;
		font-family: 'Poppins';
	}

	#fonthelp {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 3px;
		font-size: 20px;
		font-family: 'Poppins';
	}

	.scss {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 3px;
		font-size: 20px;
		font-family: 'Poppins';
		width: 100%;
	}

	#testingfonts {
		grid-row: 3/-1;
		grid-column: 2/20;
		margin-bottom: 15px;
		margin-top: 15px;
		background-color: white;
		color: black;
		text-align: center;
		box-shadow: 1.5px 2px 2px 1.5px gray;
		border-radius: 7px;
		padding: 5px;
		font-size: 15px;
		font-family: 'Poppins';
	}

	#grid {
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(15, 100px);
	}
}
