#grid {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(12, 100px);
}

#title {
	grid-row: 1/3;
	grid-column: 6/16;
	align-self: flex-start;
	justify-self: center;
	font-family: 'Cinzel';
	font-size: 90px;
	font-weight: 100;
	color: #e6e6e6;
}

.blue {
	color: #3b7fed;
}

#slogan {
	margin-bottom: 15px;
	grid-row: 1/3;
	grid-column: 9/13;
	align-self: flex-end;
	justify-self: center;
	color: #9e9e9e;
	font-family: 'Nova Round';
	font-size: 25px;
}

#gray-background-one {
	grid-row: 1/5;
	grid-column: 1/-1;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
	background-color: #05212d;
	z-index: -10;
}

#gray-background-two {
	grid-row: 1/-1;
	grid-column: 1/10;
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	background-color: #082341;
	z-index: -20;
}

#gray-background-three {
	grid-row: 3/12;
	grid-column: 6/17;
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	background-color: #3F6986;
	z-index: -30;
}

#homebar {
	grid-row: 3/4; 
	grid-column: 1/-1;
	margin-top: 5px;
	align-self: flex-start;
	justify-content: center;
	justify-self: center;
	height: 50px;
	width: 97vw;
	background-color: #222222;
	color: white;
	box-shadow: 2px 2px 1px 1px #303030;
	border-radius: 7px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	justify-items: center;
	font-family: 'Nova Round';
	font-size: 25px;
	align-items: center;
	align-content: center;
}

a:link {
	text-decoration: none;
}

.dropbtn {
    color: white;
    font-size: 25px;
    border: none;
    background-color: #222222;
    text-decoration: none;
    font-family: 'Nova Round';
    padding-left: auto;
    padding-right: auto;
    width: 250px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
	justify-self: center;
	justify-items: center;
    background-color: #222222;
    font-size: 18px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown-content a:hover {
	padding: 12px 16px;
	background-color: blue;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown:hover .dropdown-content {
	display: block;
	padding: 12px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}

#testingfonts {
	grid-row: 4/13;
	grid-column: 2/20;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: white;
	color: black;
	text-align: center;
	box-shadow: 1.5px 2px 2px 1.5px gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Poppins';
}

#light-gray {
	background-color: #e6e6e6;
	padding: 2px;
	border-radius: 7px;
}

#tell {
	text-decoration: underline;
}

.font1 {
	font-family: 'Roboto';
}

.font2 {
	font-family: 'Open Sans';
}

.font3 {
	font-family: 'Muli';
}

.font4 {
	font-family: 'Quicksand';
}

.font5 {
	font-family: 'Karla';
}

.font6 {
	font-family: 'Nunito Sans';
}

.font7 {
	font-family: 'Cairo';
}

.font8 {
	font-family: 'PT Sans Caption';
}

.font9 {
	font-family: 'Poiret One';
}

.font10 {
	font-family: 'Quattrocento Sans';
}

.font11 {
	font-family: 'Jura';
}

.font12 {
	font-family: 'Nova Round';
}

a:visited {
	outline: none;
	border: none;
}

a:active {
	outline: none;
	border: none;
}

a:visited:focus {
	outline: none;
	border: none;
}

a:active:focus {
	outline: none;
	border: none;
}

a:focus {
	outline: none;
}