#grid {
	display: grid;
	grid-template-columns: repeat(20,1fr);
	grid-template-rows: repeat(12,100px);
}

#title {
	grid-row: 1/2;
	grid-column: 1/6;
	align-self: flex-end;
	justify-self: flex-start;
}

#title2 {
	grid-row: 4/7;
	grid-column: 5/17;
	align-self: center;
	justify-self: flex-start;
}

#title3 {
	grid-row: 5/9;
	grid-column: 5/17;
	align-self: center;
	justify-self: flex-start;
}

#slogan {
	grid-row: 1/2;
	grid-column: 2/4;
	align-self: flex-end;
	justify-self: flex-end;
	padding-bottom: 20px;
	min-width: 500px;
}

#try2 {
	grid-row: 1/-1;
	grid-column: 4/19;
	z-index: -2000;
}

#gray-background-one {
	grid-row: 5/-1;
	grid-column: 1/15;
}

#gray-background-two {
	grid-row: 2/-1;
	grid-column: 1/10;
}

#gray-background-three {
	grid-row: 2/13;
	grid-column: 5/19;
}

#white-background-one {
	grid-row: 2/-1;
	grid-column: 1/-1;
	z-index: -1500;
}

#black-background-one {
	grid-row: 1/2;
	grid-column: 1/-1;
	z-index: -2500;
}

#picture {
	grid-row: 3/4;
	grid-column: 5/17;
}

#homebar {
	grid-row: 1/2; 
	grid-column: 6/21;
}

#discover {
	grid-row: 9/10;
	grid-column: 9/13;
}

@media only screen and (max-width: 600px) {
	#homebar {
		grid-row: 1/1; 
		grid-column: 1/5;

		
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: 1fr;

		align-self: left;
		justify-content: left;
		justify-self: left;
		height: 50px;
		margin-right: 5px;
		color: #cccccc;
		display: grid;
		justify-items: left;
		font-family: 'Nova Round';
		font-size: 25px;
		align-items: left;
		align-content: left;

	}
	#try2 {
		grid-row: 1/-1;
		grid-column: 1/-1;
		z-index: -2000;
	}

	#title2 {
		grid-row: 3/6;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

	#title3 {
		grid-row: 4/7;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

	#grid {
		grid-template-columns: repeat(20,1fr);
		grid-template-rows: repeat(12, 100px);
	}

	#discover {
		grid-row: 6/7;
	}
	
}

@media only screen and (min-width: 600px)and (max-width: 992px) {
	#homebar {
		grid-row: 1/1; 
		grid-column: 1/5;

		
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: 1fr;

		align-self: left;
		justify-content: left;
		justify-self: left;
		height: 50px;
		margin-right: 5px;
		color: #cccccc;
		display: grid;
		justify-items: left;
		font-family: 'Nova Round';
		font-size: 25px;
		align-items: left;
		align-content: left;

	}
	#try2 {
		grid-row: 1/-1;
		grid-column: 1/-1;
		z-index: -2000;
	}

	#title2 {
		grid-row: 3/6;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

	#title3 {
		grid-row: 4/7;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

	#discover {
		grid-row: 6/7;
	}
}
/*phone screen*/
@media only screen and (max-device-width: 600px) {
	#homebar {
		grid-row: 1/1; 
		grid-column: 1/5;

		
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: 1fr;

		align-self: left;
		justify-content: left;
		justify-self: left;
		height: 50px;
		margin-right: 5px;
		color: #cccccc;
		display: grid;
		justify-items: left;
		font-family: 'Nova Round';
		font-size: 25px;
		align-items: left;
		align-content: left;

	}
	#try2 {
		grid-row: 1/-1;
		grid-column: 1/-1;
		z-index: -2000;
	}

	#title2 {
		grid-row: 3/6;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

	#title3 {
		grid-row: 4/7;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

}

@media only screen and (min-device-width: 600px) and (max-device-width: 992px) {
	#homebar {
		grid-row: 1/1; 
		grid-column: 1/5;

		
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: 1fr;

		align-self: left;
		justify-content: left;
		justify-self: left;
		height: 50px;
		margin-right: 5px;
		color: #cccccc;
		display: grid;
		justify-items: left;
		font-family: 'Nova Round';
		font-size: 25px;
		align-items: left;
		align-content: left;

	}
	#try2 {
		grid-row: 1/-1;
		grid-column: 1/-1;
		z-index: -2000;
	}

	#title2 {
		grid-row: 3/6;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

	#title3 {
		grid-row: 4/7;
		grid-column: 5/17;
		align-self: center;
		justify-self: flex-start;
	}

}