body {
	margin: 0px;
}

a:focus {
	outline: none;
}

#title {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns:125px,20px, repeat(4, 1fr);
	min-width: 325px;

	font-family: 'Cinzel';
	font-size: 90px;
	font-weight: 100;
	color: #e6e6e6;
	line-height: 70px;

}

#title2  {
	font-family: 'Cinzel', serif;
	font-size: 180px;
	font-weight: 100;
	color: #e6e6e6;
	z-index: 10;
	margin-left: 0px;
}

#title3  {
	font-family: 'Cinzel', serif;
	font-size: 180px;
	font-weight: 100;
	color: #e6e6e6;
	z-index: 10;
	margin-left: 0px;
}

.blue {
	color: #3b7fed;
	margin-left: 0px;
}

#slogan {
	padding-left: 20px;
	align-self: flex-end;
	justify-self: flex-end;
	margin: 0px;
	padding: 0px;
	margin-right: 20px;
	color: #9e9e9e;
	font-family: 'Nova Round';
	font-size: 25px;
	line-height: 0px;
}
	

#gray-background-one {
	-webkit-clip-path: polygon(100% 0, 100% 0%, 81% 100%, 0% 100%);
	clip-path: polygon(100% 0, 100% 0%, 81% 100%, 0% 100%);
	background-color: #3F6986;
	z-index: -40;
}

#gray-background-two {
	-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	background-color: #05212d;
	z-index: -20;
}

#gray-background-three {
	-webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
	background-color: #082341;
	z-index: -30;
}


#white-background-one {
	background-color: white;
	z-index: -1;
}

#black-background-one {
	background-color: black;
}

#picture {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	color: #4e4f4a;
	align-content: center;
	align-self: center;
	align-items: center;
	justify-content: center;
	justify-self: center;
	justify-items: center;
	grid-column-gap: 0px;
	font-size: 80px;
	font-family: monospace;
	margin-right: 5px;
}

i {
	font-size: 90px;
}

#homebar {
	align-self: center;
	justify-content: center;
	justify-self: center;
	height: 50px;
	margin-right: 5px;
	color: #cccccc;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	justify-items: center;
	font-family: 'Nova Round';
	font-size: 25px;
	align-items: center;
	align-content: center;
}

#discover {
	font-size: 32px;
	font-family: 'Nova Round';
	background-color: inherit;
	border: none;
	border: 1px solid white;
	border-radius: 5px;
	align-self: center;
	justify-self: center;
	color: white;
	z-index: 10000;
}



.header {
	font-size: 25px;
	font-weight: 500;
	font-family: 'Poppins';
}

.paragraph {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Poppins';
}

input {
	font-size: 32px;
	font-family: 'Nova Round';
	background-color: inherit;
	border: none;
	border: 1px solid white;
	border-radius: 3px;
	align-self: center;
	justify-self: center;
	color: white;
}

a:link {
	text-decoration: none;
}

.dropbtn {
    color: #cccccc;
    font-size: 25px;
    border: none;
    text-decoration: none;
    font-family: 'Nova Round';
    background-color: inherit;
    padding-left: auto;
    padding-right: auto;
    width: 250px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
	justify-self: center;
	justify-items: center;
    font-size: 18px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	color: white;
	display: block;
	font-size: 18px;
	-webkit-text-stroke: .25px black;
}

.dropdown-content a:hover {
	padding: 12px 16px;
	background-color: blue;
	color: white;
	display: block;
	font-size: 18px;
	-webkit-text-stroke: none;
}

.dropdown:hover .dropdown-content {
	display: block;
	padding: 12px;
	color: white;
	display: block;
	font-size: 18px;
}

.dropbtn2 {
    color: white;
    font-size: 20px;
    border: none;
    background-color: #222222;
    text-decoration: none;
    font-family: 'Poppins';
    text-align: center;
    width: 1fr;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    justify-content: center;
	justify-self: center;
	justify-items: center;
    background-color: #222222;
    font-size: 18px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
	padding: 12px 16px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown-content2 a:hover {
	padding: 12px 16px;
	background-color: blue;
	color: white;
	display: block;
	font-size: 18px;
}

.dropdown2:hover .dropdown-content2 {
	display: block;
	padding-top: 25px;
	background-color: #222222;
	color: white;
	display: block;
	font-size: 18px;
}


@media only screen(max-width: 600px) {
	
	
}

@media only screen(min-width: 600px; max-width: 992px) {

}
/*phone screen*/
@media only screen(max-device-width: 600px) {


}

@media only screen(min-device-width: 600px; max-device-width: 992px) {

}